---
import Navbar from '../components/Navbar.astro';
import Org from '../components/Org.astro';

import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Joseph from '../components/Joseph.astro';
import Achievement from '../components/Achievement.astro';
import Skills from '../components/Skills.astro';
import Foot from '../components/Foot.astro';
import Wrap_other from '../components/Wrap_other.jsx';
import Project_Wrap from '../components/project/Project_Wrap.jsx';
import { getCollection } from 'astro:content';

// Get all projects from the content collection
const projects = await getCollection('projects');

---

<Layout>
	
	<Navbar/>
	<Hero></Hero>
	<Joseph></Joseph>
	<Project_Wrap client:only="react" projects={projects} />
	<Skills />
	<Org></Org>
	
	<!-- Divider Line -->
	<div class="mx-4 sm:mx-6 lg:mx-10 my-8">
		<hr class="border-black border-t-2">
	</div>
	
	<Achievement></Achievement>
	<!-- <Wrap_other client:only="react" /> -->
	<Foot>
	
</Layout>
