---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";



---
<div class={`w-${Astro.props.w} rounded-4xl h-${Astro.props.h} p-5 border-2 bg-${Astro.props.warna} shadow-sm`} >
    

    <slot />

    
</div>