---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";

const {w="full", h="full", warna="primary"} = Astro.props;

---
<div class=`${w} rounded-4xl  ${h} p-5 border-2 ${warna} shadow-sm` >
    

    <slot />

    
</div>