---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---
<div class="bg-white py-15 mt-5">
    <div class="ml-48 flex ">
        <div class="">
            <img src="/joseph.jpg" alt="joseph" class ="w-xs rounded-full" />
        
        </div>
        
        <div class="justify-center flex flex-col ml-10 ">
            
            <p class="font-itim text-4xl">helllowww</p>
            <p class="font-itim text-6xl ">i'm <span class="text-second"> Joseph</span></p>
            <p class="font-itim">Computer Science Student</p>
        </div>
    </div>


    
</div>