---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/global.css";
---
<div class="bg-white py-15 mt-5">
    <div class="ml-[20em] flex ">
        <div class="">
            <img src="/cat.png" alt="joseph" class ="" />
        
        </div>
        
        <div class="flex flex-col justify-center ml-10">
    <p class="font-itim text-3xl mb-2">Hello there!</p>
    <p class="font-itim text-5xl mb-4">Ever met someone <br>who explore with a plan?</p>
    <p class="font-itim text-lg mb-1">
        That's me, <span class="text-xl text-fifth font-bold">Joseph</span>
    </p>
    <p class="font-itim mb-6">Welcome to my little world.</p>
    <p class="font-itim mt-8  text-gray-500">Scroll down to explore more about me!</p>
</div>
    </div>


    
</div>