---
const content={
    first:`As a Computer Science student at Universitas Gadjah Mada, I bring a strong interest and foundational experience in data processing and artificial intelligence. My skills encompass data wrangling, exploratory data analysis, data manipulation, and modeling, honed through various data science competitions where I achieved top placements. I am proficient in Python, Pandas, Scikit-Learn, PyTorch, Docker, Kubernetes, and Tableau, with interests in Machine Learning, NLP, Computer Vision, Recommendation Systems, LLM, and Reinforcement Learning.<br> 
<br> Beyond technical skills, I have a passion for learning and exploring new things, and I thrive in collaborative environments. My leadership and teamwork abilities are demonstrated through my roles as Data Science and Artificial Intelligence Staff at OmahTI, where I contributed to major projects involving Natural Language Processing and Recommendation Systems, and as Human Capital Staff at Tanoto Scholars Association. I am committed to leveraging data expertise to gain insights and create meaningful impact for both organizations and society.`
}
---
<div class="flex bg-fifth m-10 rounded-4xl p-10 border-2 shadow-sm">
    
    <div class="">
        <h2 class="text-4xl font-bold mb-2 font-itim text-center">Joseph Greffen Komala</h2>
        <p class="font-lusitana  mb-3 text-center">Computer Science student who learns, grows, and explores with genuine joy.</p>
        
        <p class="font-lusitana text-justify mb-3" set:html={content.first}></p>
        

    </div>
</div>