---
const content={
    first:`As a Computer Science student at Universitas Gadjah Mada, I bring a strong interest and foundational experience in data processing and artificial intelligence. My skills encompass data wrangling, exploratory data analysis, data manipulation, and modeling, honed through various data science competitions where I achieved top placements.<br> 
<br> Beyond technical skills, I am a passionate learner who thrives in collaborative environments. My leadership and teamwork are evident in my roles, contributing to significant projects in AI and data science, and fostering human capital development. I am committed to leveraging data to create meaningful impact.`
}
---
<div class="flex bg-fifth m-10 rounded-4xl p-10 border-2 shadow-sm">
    
    <div class="">
        <h2 class="text-4xl font-bold mb-2 font-itim text-center">Joseph Greffen Komala</h2>
        <p class="font-lusitana  mb-3 text-center">Computer Science student who learns, grows, and explores with genuine joy.</p>
        
        <p class="font-lusitana text-justify mb-3" set:html={content.first}></p>
        

    </div>
</div>