---

---
<div class="flex bg-fifth m-10 rounded-4xl p-10">
    <div class="mr-10">
        <img src="/joseph.jpg" alt="Joseph" class=" w-sm rounded-lg shadow-lg" />
    </div>
    
    <div class="w-1/2">
        <h2 class="text-4xl font-bold mb-2 font-itim">Joseph Greffen Komala</h2>
        <p class="font-lusitana text-justify">I'm Joseph Greffen Komala, a Computer Science student who learns and grows with genuine joy.  
I'm Joseph Greffen Komala, a Computer Science student who learns and grows with genuine joy.  

I'm a cheerful person. i love interacting with other people, one of the reasons is because I get to hear their unique perspectives during our conversations. 

Even so, I’m more of an introvert at heart.  
I feel happiest in small groups, where conversations are cozy and full of meaning.  
There’s just something special about laughing over inside jokes and sharing little moments that only a close circle would get — and I absolutely love that!

I love seeing things from different perspectives,  sometimes I wonder, _what would it feel like to be someone else?_ What are they thinking? What would they do in a certain situation? That kind of curiosity drives me to explore the world more deeply.

I also find a sense of calm in planning. Before jumping into something, I like to take a step back and figure things out first. It helps me feel grounded and clear-headed, so when it's time to act, I’m not lost.</div>

</div>
