---
import Res from "../components/Res.astro";

---

<div class=" bg-sixth p-10 my-10 rounded-4xl border-2 shadow-sm mx-10">
    <h1 class="font-itim text-3xl">Then What do I do?</h1>

    <div class="flex items-center">
    <div class="w-1/5 items-center justify-center">
        <p class="font-lusitana text-lg">This character trait can be a real strength when managed well — and over time, 
when approaching a problem or making a decision, I follow a structured thinking process</p>
    </div>
    <Res />
    </div>

</div>

