---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Card from '../Card.astro';
import "../../styles/global.css";
const content = {
    title: "Career",
    first: "I want to build a career in technology that brings real value to others—making life easier, unlocking smarter ways to do things, and creating meaningful impact. I believe that everyone deserves a life that continues to improve, and with the right innovations, that vision can become a reality. For me, meaningful technology isn’t just about being clever or impressive, it’s about being truly useful and relevant to real people’s lives. That’s why I’m committed to designing solutions that are not only impactful, but also easy to access and inclusive, so the benefits can be felt by as many people as possible.",
    second: "As of now, I don’t really mind which company I end up working for, as long as it aligns with my personal goals and values—that’s what matters most to me. Big-name companies aren’t always the best fit if they don’t share the same vision. What I truly care about is being in an environment that encourages growth, creativity, and purpose. I want to be part of a team that values meaningful work, supports continuous learning, and gives space to explore ideas that can bring real impact.",
    third:"I want to design technology that brings together multiple fields. As an explorative person, I find joy in working across disciplines—because it allows me to not only explore a wide range of topics, but also explore new ideas at the intersections where they meet.",
    fourth:"Because technology is one of the easiest things to build, distribute, and use. It's a powerful medium for impact—especially today, where the world is rapidly evolving through tech innovation.",
    fifth:"On a personal level, I dream of a life that is peaceful and secure—free from pressures uncertainty. having a good job, good connection and relationship, supported by arounds",
    sixth:"And after all, I want to <b>keep exploring</b>—new fields, new ideas, new solutions, and new ways to make the world a better place, at least a bit. Constantly exploring help me feel alive.", 
};
---
<div class="w-full bg-fifth-light items-center flex justify-center">
    <div class="m-5 grid rid-rows-2 gap-5  grid-cols-[25em_15em_15em]">
        <span class="row-span-2 col-span-1 mr-5">
            <Card w="w-full flex-col flex items-center justify-center" h="h-full" warna="bg-[#5189D3]" >
                <h1 class="font-itim text-3xl mb-3">action Plan</h1>
                <p class="font-lusituna text-lg"> asdasdasdasdasd</p>
            </Card>
        </span>
        <span class=" hover:scale-105 transition-all">
            <Card w="" h="h-[15em] flex items-center justify-center" warna="bg-second">
                <p class="font-itim text-3xl text-center">IP diatas 3.8</p>
            </Card>
        </span>
        <span class=" hover:scale-105 transition-all">
            <Card w="" h="h-[15em] flex items-center justify-center" warna="bg-third">
                <p class="font-itim text-3xl text-center">Magang 2 kali</p>
            </Card>
        </span>
        <span class=" hover:scale-105 transition-all">
            <Card w="" h="h-[15em] flex items-center justify-center" warna="bg-sixth">
                <p class="font-itim text-3xl text-center">Menang lomba 3 kali skala nasional</p>
            </Card>
        </span>
        <span class=" hover:scale-105 transition-all">
            <Card w="" h="h-[15em] flex items-center justify-center" warna="bg-fourth">
                <p class="font-itim text-3xl text-center">Memiliki Sertifikasi</p>
            </Card>
        </span>
    

    </div>
</div>


