---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Card from '../Card.astro';
import "../../styles/global.css";


---
<div class="flex justify-center pt-25 w-full bg-third-light p-10 h-[25em] mb-[-7em]">
        <p class="font-itim text-7xl text-[#9e8121]"> "Designing <span class="text-sixth">Technology</span> That Matters"</p>
</div>

<div class="flex justify-around px-20">
    <Card w="w-[17em] flex items-center h-[17em] justify-center" warna="bg-fifth">
            <p class="font-itim text-5xl  "> Innovative</p>
    </Card>
    <Card w="w-[17em] flex items-center h-[17em] justify-center " warna="bg-second">
            <p class="font-itim text-5xl "> Meaningful</p>
    </Card>
    <Card w="w-[17em] flex items-center h-[17em] justify-center " warna="bg-sixth">
            <p class="font-itim text-5xl "> Accessible</p>
    </Card>
</div>