---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Card from '../Card.astro';
import "../../styles/global.css";
---
<Card w=" mx-10 bg-fifth mb-10">
    <p class="font-bold font-lusitana text-xl text-center">To actualize my mission, then there is something that be my "key":</p>


</Card>
<div class="flex justify-around px-[15em] mb-10">
    <Card w="w-[13em] flex items-center h-[15em] justify-center" warna="bg-first">
            <p class="font-itim text-3xl  "> Hardskill</p>
    </Card>
    <Card w="w-[13em] flex items-center h-[15em] justify-center " warna="bg-sixth">
            <p class="font-itim text-3xl "> Softskill</p>
    </Card>
    <Card w="w-[13em] flex items-center h-[15em] justify-center " warna="bg-fourth">
            <p class="font-itim text-3xl "> Networking</p>
    </Card>
</div>
