---
import Card from '../Card.astro';
---

<Card w=" w-4/7 m-10 bg-fifth ">
    <h1 class="font-itim text-3xl">Tanoto Scholars Program Awardee</h1>
    <p>Awardee </p>
    <p>Chosen as a recipient of the Tanoto Foundation Scholarship, a competitive leadership-based scholarship that supports academic excellence and social impact. Through this program, I developed greater self-awareness, practiced collaborative leadership, and built a valuable networking  across Indonesia — all of which have contributed significantly to strengthening my soft skills.</p>
</Card>

<div class="flex">
  <Card w="w-4/7 m-10 bg-fifth">
    <h1 class="font-itim text-3xl mb-2">Competition Achievements</h1>
    <ul class="list-disc ml-5 space-y-3">
      <li>
        <span class="font-bold">Data Royale (2023):</span>
        <span>
          (2nd Place) Data Science Competition organized by Kotak Riset SC, Department of Computer Science and Electronics, and the Data Science and Artificial Intelligence Division of OmahTI. This competition honed my skills in various key aspects of data science, including data wrangling, exploratory data analysis, data manipulation, and modeling.
        </span>
      </li>
      <li>
        <span class="font-bold">Datathon (2024):</span>
        <span>
          (2nd Place) Data Science Competition organized by Ristek UI, where participants developed an AI model to detect fraudsters and created AI innovations in search engines.
        </span>
      </li>
      <li>
        <span class="font-bold">Compfest (2024):</span>
        <span>
          (Finalist) Data Analysis Competition involving the creation of a dashboard using Tableau software.
        </span>
      </li>
      <li>
        <span class="font-bold">Find IT (2025):</span>
        <span>
          (Finalist) Competitive Programming, where participant has to solve algorithmic challenges under time pressure using C++ and Python in a national-level coding competition.
        </span>
      </li>
    </ul>
  </Card>
  <div class="w-2/7 border-2 m-10 flex items-center justify-center">
    {/* You can replace this with an image or illustration */}
    <span class="text-lg text-gray-400">gambar</span>
  </div>
</div>


<div class="flex">
  <Card w="w-4/7 m-10 bg-fifth">
    <h1 class="font-itim text-3xl mb-2">Organizational Experience</h1>
    <ul class="list-disc ml-5 space-y-3">
      <li>
        <span class="font-bold">TSA</span>
        <ul class="list-disc ml-6">
          <li>HC (Best Staff)</li>
          <li>PIF</li>
          <li>Sospro</li>
          <li>GELEX</li>
        </ul>
      </li>
      <li>
        <span class="font-bold">Omah TI</span>
        <ul class="list-disc ml-6">
          <li>Skildevv</li>
          <li>OLC</li>
          <li>OEMOEM</li>
        </ul>
      </li>
      <li>
        <span class="font-bold">PMK</span>
        <ul class="list-disc ml-6">
          <li>HR</li>
          <li>Makrab</li>
          <li>Welcome Party</li>
          <li>Paskah</li>
          <li>Natal 23-24</li>
        </ul>
      </li>
    </ul>
  </Card>
  <div class="w-2/7 border-2 m-10 flex items-center justify-center">
    {/* You can replace this with an image or illustration */}
    <span class="text-lg text-gray-400">gambar</span>
  </div>
</div>