---
import Card from '../Card.astro';
import ImageSlider from './Image_slider';
const images=[
    "tsa (4).jpg",
    "tsa (2).jpg",
    "tsa (3).jpg",
    "tsa (1).jpg",
    "tsa (5).jpg",

]
---
<div class="flex mx-10 h-[20em]">
  <div class="w-3/7">

  <ImageSlider client:only="react" images={images} className="w-full h-full"/>
</div>
  <div class="w-4/7 ml-5 h-full">
  <Card w=" bg-second  h-full">
    <h1 class="font-itim text-3xl">Tanoto Scholars Program Awardee</h1>
    <p>Awardee </p>
    <p>Chosen as a recipient of the Tanoto Foundation Scholarship, a competitive leadership-based scholarship that supports academic excellence and social impact. Through this program, I developed greater self-awareness, practiced collaborative leadership, and built a valuable networking  across Indonesia — all of which have contributed significantly to strengthening my soft skills.</p>
</Card>
</div>
</div>


