---
import Card from '../Card.astro';
import ImageSlider from './Image_slider';
const images=[
    "osn1.jpg",
    "osn2.jpg",
    "osn3.jpg",
]
---
<div class="flex h-[20em]">
    <Card w=" w-4/7 m-10 bg-fifth ">
        <h1 class="font-itim text-3xl">Olimpiade Sains Nasional in Informatics(2021) </h1>
        <p>Finalist </p>
        <p>Selected as one of the top students in the province to represent in the prestigious national competition for Informatics. This experience sharpened my problem-solving skills, algorithmic thinking, and discipline in learning.</p>
    </Card>
    <div class="w-2/7 m-10">
        <ImageSlider client:only="react" images={images} className="h-full w-full" />

    </div>

</div>

