---
import Card from '../Card.astro';
---
<div class="flex ">
    <Card w=" w-4/7 m-10 bg-fifth ">
        <h1 class="font-itim text-3xl">Olimpiade Sains Nasional in Informatics</h1>
        <p>Finalist </p>
        <p>Selected as one of the top students in the province to represent in the prestigious national competition for Informatics. This experience sharpened my problem-solving skills, algorithmic thinking, and discipline in learning.</p>
    </Card>
    <div class="w-2/7 border-2 m-10">
        gambar

    </div>
</div>

