<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body >
		<div class="fixed inset-0 z-[-1]">
            <div class="absolute inset-0 bg-[url(/bg-base.png)] bg-cover bg-center opacity-90"></div>
        </div>
        <div class="relative z-0">
            <slot />
        </div>
	</body>
</html>